html, body, #app, .index
  height: 100%
  width: 100%
  overflow: hidden

.tile
  width: 260px
  position: absolute
  .tile-img
    height: 347px
  .tile-title
    height: 20px
  .tile-desc
    height: 263px
  .tile-img, .tile-title, .tile-desc
    cursor: pointer
    background-color: #E0E0E0

.tile-box
  height: 100%
  width: 100%
  overflow: hidden
  .tile-nav
    z-index: 999
    position: absolute
    bottom: 80px
    width: 100%
    text-align: center
    button>div>:hover
      transform: scale(1.6);
